# DuckDB function disable_verification

DuckDB function `disable_verification()`.

## Usage

``` r
disable_verification()
```

## Value

Unspecified.
