# DuckDB function enable_verification

DuckDB function `enable_verification()`.

## Usage

``` r
enable_verification()
```

## Value

Unspecified.
